body {
    background-color: black;
    background-image: url("./../images/bg.jpg");
}

.fa-facebook-f, .fa-rss,.fa-twitter,.fa-youtube {
    font-size: 2em;
    line-height: 1.5em;
}

.facebook{
    background-color: rgb(70, 81, 153);
    color:rgb(120,129,182);
}
.rss {
    background-color: rgb(213,142,26);
    color: rgb(226,171,84);
}
.twitter {
    background-color: rgb(102,137,201);
    color: rgb(142	165	214	);
}

.youtube {
    background-color: rgb(194,31,23);
    color: rgb(210	97	91	);
}

header a {
    color: white;
    text-decoration: none;
}

nav li {
    background-color: rgb(197,0,24);
    margin: 5px;
}
.nav-link {
    color: white;
}

.top {
    background-image: url(./../images/top-image.png);
    background-position: -150px -150px;
    border: 10px solid white;
    position: relative;
    max-height: 360px;
    overflow: hidden;
    margin: 10px 0;
}

.top img:last-child {
    width: auto;
    max-height: 300px;
    margin: 60px;
    position: absolute;
    top: 0;
    left: 0;
}
#sk8t-news article{
    background: white;
    margin: 5px;
}

#skateboarders {
    position: relative;    
}
#skateboarders h2 {
    position: absolute;
    top:10px;
    left:-231px;
    background: rgb(198, 0, 23);
    padding: 26px 4px;
    color: white;
    font-size: 1.5em;
    box-shadow: 2px 2px gray;
}
/* .arrow {
    position: absolute;
    left: -27px;
    top: -10px;
    width: 0; 
    width: 100px;
    height: 100px;
    color:rgb(198, 0, 23);
    text-shadow: 0 0 20px gray;
    transform: scale(5,10);
  } */

article {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px gray;
    min-height: 100%;

}
article time {
    margin: 10px;
    font-style: italic;
}
article p {
    margin: 10px;
    flex-grow: 1;
}

article a {
    text-align: center;
}
article h2 {
    margin: 10px;
}
article a {
    margin: 10px;
}

#skateboarders col, col-8, col-6, col-12 {
    border: 7px solid white;
}

#skateboarders p {
    color: white;
}

.lance, .rodney {
    height: 272px;
}

.lance {
    background-image: url(./../images/sk8er-4.png);
    background-position: -120px;
    background-size: 500px;
}
.rodney {
    background-image: url(./../images/sk8er-3.png);
    background-position: 0px -8px;
    background-size: 500px;
}
.tommy {
    background-image: url(./../images/sk8er-2.png);
    background-size: 384px;
    height: 551px;

}
.steve {
    background-image: url(./../images/sk8er-1.png);
    background-size: 768px;
    background-position: 5px;
    height: 272px;
}

.steve, .tommy, .lance, .rodney {
    font-size: 3em;
    border: 7px white solid;
}

#board-design {
    margin-top: 20px;
    background-color: rgb(253, 253, 253);
    padding: 20px 0;
    /* transform: rotate(90deg) translatex(50%); */
}


.contact {
    background-color: rgb(253, 253, 253);
}
.btn-primary {
    background-color: rgb(198,0,23);
    border-color: rgb(198,0,23);
    border-radius: .1rem;
}

div label {
    display: hidden;
}

@media (min-width: 768px) {
    .container-md {
        max-width: 1200px;
    }
}