html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    background-image: url("./../images/bg.jpg");
}
a {
    text-decoration: none;
}
a:hover {
    color: #202020;
}
.btn-primary:hover {
    background-color: #202020;
}
ul {
    list-style: none;
    padding-left: unset;
}

.icons {
    padding: 0 10px;
    margin: 10px 0;
    border-left: 3px dotted white;
    text-align: center;
}
.icons p {
    margin: 0;
}

.fa-facebook-f, .fa-rss,.fa-twitter,.fa-youtube {
    font-size: 2em;
    line-height: 1.5em;
}

.facebook {
    background-color: rgb(70, 81, 153);
    padding: 5px 2px 5px 0px;
    margin: 0 3px 3px 3px;
    box-shadow: 2px 2px gray;
}
.facebook a {
    color:rgb(120,129,182);
}
.rss {
    background-color: rgb(213,142,26);
    padding: 5px 2px;
    margin: 3px;
    box-shadow: 2px 2px gray;
}
.rss a {
    color: rgb(223	172	104	);
}
.twitter {
    background-color: rgb(102,137,201);
    padding: 5px 2px;
    margin: 3px;
    box-shadow: 2px 2px gray;
}
.twitter a  {
    color: rgb(142	165	214	);
}
.youtube {
    background-color: rgb(194,31,23);
    padding: 5px 0px 5px 2px;
    margin: 3px 3px 0 3px;
    box-shadow: 2px 2px gray;
}
.youtube a {
    color: rgb(210	97	91	);
}

a {
    color: white;
    text-decoration: none;
}

nav li {
    background-color: rgb(197,0,24);
    height: 50px;

}
header > .row {
    --bs-gutter-x: 0;
}
.row > li {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}
.nav-item:hover {
    color: #202020;
}
.nav-link {
    color: white;
}

.top {
    background-image: url(./../images/top-image.png);
    background-position: -150px -150px;
    border: 10px solid white;
    position: relative;
    max-height: 360px;
    overflow: hidden;
    width: 101.5%;
    margin: 10px -8px;
    padding: 0;
}

.top img:last-child {
    width: auto;
    max-height: 300px;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}
#sk8t-news article{
    background: white;
    margin: 5px;
}

#skateboarders {
    margin: 5px 0;
    position: relative;    
    text-align: center;
}
#skateboarders h2 {
    background: rgb(198, 0, 23);
    padding: 26px 4px;
    color: white;
    font-size: 1.4em;
    box-shadow: 2px 2px gray;
    position: relative;
    width: 100%
}
/* .arrow {
    position: absolute;
    left: -27px;
    top: -10px;
    width: 0; 
    width: 100px;
    height: 100px;
    color:rgb(198, 0, 23);
    text-shadow: 0 0 20px gray;
    transform: scale(5,10);
  } */

article {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px gray;
    min-height: 100%;
}
article time {
    margin: 10px;
    font-style: italic;
}
article p {
    margin: 10px;
    flex-grow: 1;
}

article a {
    text-align: center;
    margin: 10px;
    color:rgb(198, 0, 23);
}
article h2 {
    margin: 10px;
}

.sk8ters {
    position: relative;
    padding: 0;
    overflow: auto;
}
.sk8ters img {
    border: 7px white solid;
    margin-top: 5px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.sk8ters span {
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 10;
    color: white;
}

#board-design {
    margin: 20px 0;
    background-color: rgb(253, 253, 253);
    padding: 20px;
}

.skateboard-img {
    justify-content: center;
    align-items: center;
}
.skateboard-img img {
    padding: 5px 19%;
}

.contact {
    background-color: rgb(253, 253, 253);
}
.btn-primary {
    background-color: rgb(198,0,23);
    border-color: rgb(198,0,23);
    border-radius: .1rem;
}

.end-symbols {
    background-color: rgb(79,79,79);
    color: rgb(123, 123, 123);
    line-height: 0.5em;
    font-size: 0.75em;
    width: 10%;
}
.end-symbols p {
    margin: 0;
}

div label {
    display: hidden;
}

@media (min-width: 768px) {
    .container-md {
        max-width: 1040px;
    }

    .row > li {
    margin: 0 0;
    }

    .skateboard-img {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-30%) translateX(-10%);
    height: 260px;
    width: 65px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

    #skateboarders h2 {
        position: absolute;
        top:10px;
        left: -210px;
        width: auto;
    }
  
    .sk8ters img {
        width: auto;
        height: auto;
        max-height: none;
    }

    .sk8ters span {
    top: 50px;
    left: 0;
    }

    .sk8ters:nth-of-type(3) span{
    top: 33%;
    left: 20%;
    }
}